__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
Pipfile
Pipfile.lock
poetry.lock
uv.lock
.git
.gitignore
.gitattributes
.github
coremind.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
